<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clb.heartwishes">

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <application
        android:name=".MobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <!-- 反馈组件（需要加入以下声明）START -->
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity" >
        </activity>
        <activity android:name=".activitys.MyHeartWishesActivity" />
        <!-- 反馈组件 END -->

        <!-- UMSSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="201ad117a91b4"/>
        <meta-data android:name="Mob-AppSecret" android:value="d8d09e7fb2c5082b9dae6127e29b21e5"/>

    </application>

</manifest>